body {
    background-color: #141414;
    background-image: linear-gradient(62deg, #9b0c0c 0%, #d5d592 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  h1 {
    text-align: center;
    margin: 10vh 0 0 0;
    font-family: sans-serif;
    font-size: 3rem;
    animation: rainbow 5s infinite ease-in;
  }
  
  .container {
    width: 100%;
    min-height: 100vh;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  table {
    width: 80%;
    margin: 40px auto;
  
    
        background-image: linear-gradient(rgb(144, 189, 238),rgb(181, 230, 173));
      
  }
  
  table.list {
    text-align: center;
    width: 100%;
  }
  
  td {
    border: 1px solid rgb(235, 229, 229);
    text-align: left;
    padding: 8px 15px;
  }
  
  tr:nth-child(even),
  table.list thread > tr {
    background-color: #5c784e;
  }
  
  input[type="text"] {
    width: 91%;
    padding: 10px 10px;
    margin: 0px 0 10px 0;
    display: inline-block;
    border: none;
    border-radius: 6px;
  }
  
  input[type="submit"],
  input[type="reset"] {
    background: #eee;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
  }
  
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  button:hover {
    background: #593c8f;
  }
  
  input[type="submit"],
  input[type="reset"] {
    background: #28154d;
    color: white;
    font-size: 1.2rem;
    font-family: sans-serif;
  }
  
  tbody {
    font-family: sans-serif;
  }
  
  .input-part {
    font-family: sans-serif;
    font-size: 1.3rem;
  }
  
  button {
    background: #6681d2;
    color: white;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
  }
  
  @keyframes rainbow {
    from {
      color: #f0e10f;
    }
    10% {
      color: #15f0f0;
    }
    50% {
      color: #f01a61f5;
    }
    75% {
      color: #ffff;
    }
    100% {
      color: #e04ef3d2;
    }
  }
